---
import { basics } from '@shared/cv';
import './styles.css';
import { ClientRouter } from 'astro:transitions';
const { content } = Astro.props;
import { Font } from 'astro:assets'
const absoluteUrl = (path: string) => `${Astro.url.origin}${path}`;
const metadata = {
  title: {
    template: `%s | ${basics.name}`,
    default: `${basics.name} | ${basics.label}`,
    absolute: `${basics.name} | ${basics.label}`,
  },
  description: content.description ??  basics.summary.map((s) => s).join(' '),
  abstract: content.description ?? basics.summary[0],
  icons: {
    icon: [
      {
        url: '/favicon.ico',
        type: 'image/x-icon',
        sizes: '96x96',
        rel: 'shortcut icon',
      },
    ],
    apple: [{ url: '/apple-touch-icon.png', sizes: '180x180' }],
  },
  appleWebApp: {
    title: basics.name,
  },
  authors: [
    {
      name: 'Angel Gabriel Lopez Solano',
      url: 'https://imrlopez.dev/',
    },
  ],
  category: 'Personal',
  generator: 'Astro',
  classification: 'Personal',
  openGraph: {
    type: 'website',
    locale: 'en_US',
    countryName: 'Dominican Republic',
    title: content.title ?? basics.name,
    description: content.description ?? basics.summary.map((s) => s).join(' '),
    url: content.url ?? absoluteUrl('/'),
    emails: ['contact@imrlopez.dev'],
    siteName: content.siteName ?? `${basics.name} | ${basics.label}`,
    images: [
      {
        url: absoluteUrl('/me.webp'),
        alt: basics.name,
        width: 500,
        height: 500,
      },
    ],
  },
  robots: {
    index: true,
    follow: true,
    nocache: true,
    googleBot: {
      index: true,
      follow: false,
      noimageindex: true,
      'max-video-preview': -1,
      'max-image-preview': 'large',
      'max-snippet': -1,
    },
  },
  twitter: {
    card: 'summary_large_image',
    title: content.twitter?.title ?? basics.name,
    description: content.twitter?.description ?? basics.summary.map((s) => s).join(' '),
    images: [absoluteUrl('/me.webp')],
  },
};
---

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <title>{metadata.title.template.replace('%s', content.title)}</title>
  <meta name='description' content={metadata.description} />
  <meta name='abstract' content={metadata.abstract} />
  <meta name='author' content={basics.name} />
  <meta name='robots' content={metadata.robots.index ? 'index' : 'noindex'} />
  <meta
    name='googlebot'
    content={metadata.robots.googleBot.index ? 'index' : 'noindex'}
  />
  <meta name='twitter:card' content={metadata.twitter.card} />
  <meta name='twitter:title' content={metadata.twitter.title} />
  <meta name='twitter:description' content={metadata.twitter.description} />
  <meta name='twitter:image' content={metadata.twitter.images[0]} />
  <meta property='og:type' content={metadata.openGraph.type} />
  <meta property='og:locale' content={metadata.openGraph.locale} />
  <meta property='og:country_name' content={metadata.openGraph.countryName} />
  <meta property='og:title' content={metadata.openGraph.title} />
  <meta property='og:description' content={metadata.openGraph.description} />
  <meta property='og:url' content={metadata.openGraph.url} />
  <meta property='og:site_name' content={metadata.openGraph.siteName} />
  <meta property='og:image' content={metadata.openGraph.images[0].url} />
  <meta property='og:image:alt' content={metadata.openGraph.images[0].alt} />
  <meta
    property='og:image:width'
    content={metadata.openGraph.images[0].width.toString()}
  />
  <meta
    property='og:image:height'
    content={metadata.openGraph.images[0].height.toString()}
  />
  <meta property='og:email' content={metadata.openGraph.emails[0]} />
  <meta property='og:site_name' content={metadata.openGraph.siteName} />
  <Font cssVariable='--font-inter' preload />
  <ClientRouter />
</head>

