---
import Section from '@ui/section.astro'

import { work } from '@shared/cv.json'
---

<Section title='Experience'>
  <ol class='flex flex-col gap-8 relative'>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url }) => {
          const startYear = new Date(startDate).getFullYear()
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : 'Actual'

          return (
            <li class='ms-3' data-title={name}>
              <span class='absolute -start-[6.5px] mt-2 h-3 w-3 rounded-full border border-zinc-900 bg-zinc-900 no-print' />
              <article>
                <header class='flex flex-row justify-between items-start mb-1'>
                  <div>
                    <h3 class='text-lg font-semibold' data-title={name}>
                      <a
                        href={url}
                        title={`Ver ${name}`}
                        target='_blank'
                        class='hover:underline'
                      >
                        {name}
                      </a>
                    </h3>
                    <h4 class='text-sm font-normal'>{position}</h4>
                  </div>

                  <div>
                    <time
                      datetime={startDate}
                      data-title={startDate}
                      class='text-gray-500 text-sm sm:text-right'
                    >
                      {startYear}
                    </time>
                    -
                    <time
                      datetime={endDate}
                      data-title={endDate}
                      class='text-gray-500 text-sm sm:text-right'
                    >
                      {endYear}
                    </time>
                  </div>
                </header>

                <footer>
                  <p>{summary}</p>
                  <ul class='list-disc list-inside'>
                    {highlights &&
                      highlights.map((highlight) => {
                        return <li>{highlight}</li>
                      })}
                  </ul>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ol>
</Section>

<style>
  ol {
    border-left: 1px solid #18181b;
  }
</style>
