---
import { cn } from '@shared/utils';
import { Badge } from '@ui/badge';
import { Link } from '@ui/link';
import { Card, CardContent, CardFooter, CardHeader, CardTitle } from '@ui/card';
import { ExternalLink, Github } from 'lucide-react';

interface Props {
  project: Projects;
}

const { project } = Astro.props;
---

<Card
  className={cn(
    'group flex h-full flex-col overflow-hidden relative bg-card hover:shadow-lg transition-shadow duration-300 hover:shadow-card/80  '
  )}
  data-project-card
>
  <canvas class='absolute inset-0 -z-10 h-full w-full'></canvas>
  <CardHeader>
    <CardTitle className='flex items-center justify-between'>
      <span>{project.name}</span>
      {
        project.isActive && (
          <span class='flex items-center text-green-500 text-xs'>
            <span class='mr-1 h-2 w-2 rounded-full bg-green-500' />
            Active
          </span>
        )
      }
    </CardTitle>
  </CardHeader>
  <CardContent className='flex-grow relative z-10'>
    <p class='mb-4 line-clamp-3 text-muted-foreground'>
      {project.description}
    </p>
    <div class='flex flex-wrap gap-2'>
      {
        project.highlights.slice(0, 3).map((tech) => (
          <Badge key={tech} variant='outline' className='bg-muted/50'>
            {tech}
          </Badge>
        ))
      }
      {
        project.highlights.length > 3 && (
          <Badge variant='outline' className='bg-muted/50'>
            +{project.highlights.length - 3} more
          </Badge>
        )
      }
    </div>
  </CardContent>
  <CardFooter className='flex justify-between pt-2 relative z-10'>
    <div class='flex gap-2'>
      {
        project.github && (
          <Link
            variant='ghost'
            size='icon'
            className='size-8'
            href={project.github}
            target='_blank'
            rel='noreferrer'
          >
            <Github className='h-4 w-4' />
            <span class='sr-only'>GitHub</span>
          </Link>
        )
      }
      {
        project.url && (
          <Link
            variant='ghost'
            size='icon'
            className='size-8'
            href={project.url}
            target='_blank'
            rel='noreferrer'
          >
            <ExternalLink className='h-4 w-4' />
            <span class='sr-only'>Live Demo</span>
          </Link>
        )
      }
    </div>
  </CardFooter>
</Card>
