---
import type { CollectionEntry } from 'astro:content';
import { Badge } from '@/components/ui/badge';
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';

interface Props {
  post: CollectionEntry<'posts'>;
}
const { post } = Astro.props;
const slug = post.id;

---

<Card className='overflow-hidden'>
  <CardHeader className='pb-2'>
    <div class='flex items-start justify-between'>
      <Badge variant='outline' className='mb-2 border border-primary'>
        <span transition:name={`blog-category-${slug}`}>
          {post.data.category}
        </span>
      </Badge>
      <span
        class='text-muted-foreground text-sm'
        transition:name={`blog-date-${slug}`}
      >
        {post.data.date}
      </span>
    </div>
    <CardTitle className='transition-colors hover:text-primary'>
      <a transition:name={`blog-title-${slug}`} href={`/blog/${slug}`}
        >{post.data.title}</a
      >
    </CardTitle>
  </CardHeader>
  <CardContent>
    <p class='text-muted-foreground'>
      {post.data.description}
    </p>
  </CardContent>
  <CardFooter className='flex items-center justify-between'>
    <a href={`/blog/${slug}`} class='font-medium text-primary hover:underline' transition:name={`blog-read-time-${slug}`}>
      Read more →
    </a>
    {
      post.data.tags && (
        <div class='mt-2 flex w-4/5 flex-wrap justify-end gap-2'>
          {post.data.tags.map((tag) => (
            <Badge key={tag} variant='outline'>
              {tag}
            </Badge>
          ))}
        </div>
      )
    }
  </CardFooter>
</Card>
