---
import { ProjectCard } from './components/project-card'
import { PROJECTS } from '@/constants'
---

<section class='flex flex-col p-3'>
  <h1 class='mb-3 text-3xl font-bold text-center'>
    <span class='text-blue-500 text-4xl rounded-2xl'>P</span>rojects
    <span class='text-blue-500 text-4xl rounded-2xl'>.</span>
  </h1>
  <div
    class='grid grid-cols-[repeat(auto-fit,minmax(22rem,1fr))] gap-2 max-w-full'
  >
    {
      PROJECTS.map((project) => {
        const { title, tech, description, repo, techs, images } = project
        return (
          <ProjectCard
            title={title}
            tech={tech}
            description={description}
            repo={repo}
            techs={techs}
            images={images}
            client:visible
          />
        )
      })
    }
  </div>
</section>


