---
import Card from '@ui/card/card.astro'
import CardTitle from '@ui/card/card-title.astro'
import CardContent from '@ui/card/card-content.astro'
import CardFooter from '@ui/card/card-footer.astro'
import Github from '@components/icons/GitHub.astro'
import LinkIcon from '@components/icons/link.astro'
import { projects } from '@shared/cv.json'

type Project = (typeof projects)[number]
type Props = Project

const { name, description, highlights, github, url } = Astro.props
---

<Card className='project-card'>
  <CardTitle className='flex items-center gap-2'
    >
    {!url && name}
    {url && (
      <a href={url} target='_blank' rel='noopener noreferrer' class='hover:underline flex gap-x-1'>
        <LinkIcon />
        {name}
      </a>
    )}
    {
      github && (
        <a href={github} target='_blank' rel='noopener noreferrer' class='hover:text-blue-900'>
          <Github />
          <span class='sr-only'>GitHub</span>
        </a>
      )
    }</CardTitle
  >
  <CardContent className='py-2'>
    <p class='text-pretty'>
      {description}
    </p>
  </CardContent>
  {
    highlights && (
      <CardFooter className='flex flex-wrap gap-2 items-end sticky bottom-0'>
        {highlights.map((highlight) => (
          <span class='bg-zinc-300  p-1 rounded-md w-fit text-xs'>
            {highlight}
          </span>
        ))}
      </CardFooter>
    )
  }
</Card>
